Repository AlexWayfer/flame: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, test

.cirrus.yaml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

bundle-audit_task:
  container:
    image: ruby
  <<: *bundle_cache
  bundle-audit_script: bundle audit check --update
  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', '*.gemspec'
    )

rubocop_task:
  container:
    image: ruby
  <<: *bundle_cache
  rubocop_script: bundle exec rubocop
  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', '.toys.rb', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

test_task:
  container:
    matrix:
      image: ruby:2.6
      image: ruby:2.7
      image: ruby:3.0
      image: ruby:3.1

  <<: *bundle_cache

  environment:
    ## https://github.com/docker-library/ruby/issues/45
    LANG: C.UTF-8

  test_script: bundle exec rspec

  codecov_uploader_cache:
    folder: codecov
    fingerprint_script:
      - curl --no-progress-meter https://uploader.codecov.io/latest/linux/codecov.SHA256SUM
    populate_script:
      - mkdir -p codecov
      - curl https://uploader.codecov.io/latest/linux/codecov -o codecov/uploader
      - chmod +x codecov/uploader

  codecov_script: codecov/uploader

  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', '.toys.rb', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

.cirrus.yml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
    populate_script: bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', 'package.json', '.remarkrc.yaml', '**/*.md'
    )

rubocop_task:
  container:
    image: ruby
  <<: *bundle_cache
  rubocop_script: bundle exec rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**/*.rb', '**/*.ru'
    )

test_task:
  depends_on:
    - remark
    - rubocop
  container:
    matrix:
      image: ruby:2.5
      image: ruby:2.6
      image: ruby:2.7
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[fc3cdd6692dedbd2133ce8100d2cf236617d6acddc313b5f90f1994d3f62400fcc17fa2af079e8568fb3e85ee5803735]
  test_script: bundle exec rake
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**/*',
      'spec/**/*'
    )

Lock Ruby version more strict
  flame.gemspec
Due: bundle-audit, rubocop, test

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Update version to 5.0.0.rc10
  CHANGELOG.md
  lib/flame/version.rb
Due: remark, rubocop, test

Remove `bundler` as development dependency
  Gemfile
Due: bundle-audit, rubocop, test

Update `gem_toys` and `toys` dependencies
  Gemfile
Due: bundle-audit, rubocop, test

Update `alt_memery` and `gorilla_patch` dependencies
  flame.gemspec
Due: bundle-audit, rubocop, test

Allow Ruby 4.0
  flame.gemspec
Due: bundle-audit, rubocop, test

Add Ruby 4.0 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Update RuboCop and its plugins
  Gemfile
Due: bundle-audit, rubocop, test

Resolve RuboCop warning about `plugins:` instead of `require:`
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offenses about `spec.add_runtime_dependency`
  flame.gemspec
Due: bundle-audit, rubocop, test

Fix specs
  spec/integration/custom_test_project_spec.rb
Due: rubocop, test

Remove integration with `better_errors`
  Gemfile
  spec/integration/custom_test_project_spec.rb
  spec/integration/spec_helper.rb
Due: bundle-audit, rubocop, test

Add `.ruby-version` file to `.gitignore`
  .gitignore
Due: remark, bundle-audit, rubocop, test

Remove `LANG` environment variable for Cirrus CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Remove `TMPDIR` environment variable for Cirrus CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  flame.gemspec
Due: remark, bundle-audit, rubocop, test

Resolve new RuboCop offenses
  lib/flame/application.rb
  lib/flame/config.rb
  lib/flame/controller.rb
  lib/flame/controller/actions.rb
  lib/flame/controller/path_to.rb
  lib/flame/dispatcher.rb
  lib/flame/dispatcher/static.rb
  lib/flame/path.rb
  lib/flame/render.rb
  lib/flame/router.rb
  lib/flame/router/controller_finder.rb
  lib/flame/router/route.rb
  lib/flame/router/routes_refine.rb
  lib/flame/router/routes_refine/mounting.rb
  lib/flame/validators.rb
  spec/flame/dispatcher_spec.rb
  spec/flame/validators_spec.rb
Due: rubocop, test

Revert "Remove `LANG` environment variable for Cirrus CI"
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Resolve new Ruby warning about CGI
  lib/flame/dispatcher/static.rb
Due: rubocop, test

Fix `caller_path` in `Render` for Ruby 4.0
  lib/flame/render.rb
Due: rubocop, test

Update `simplecov-cobertura` development dependency
  Gemfile
Due: bundle-audit, rubocop, test

Resolve Ruby warning about frozen `Symbol#to_s`
  lib/flame/controller.rb
Due: rubocop, test

Resolve Ruby warning about useless literal in void context
  spec/integration/custom_test_project_spec.rb
Due: rubocop, test

Update version to 5.0.0.rc11
  CHANGELOG.md
  lib/flame/version.rb
Due: remark, rubocop, test

Improve updating system gems in CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Resolve new `bundle update` deprecation warning in CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Update version to 5.0.0
  CHANGELOG.md
  lib/flame/version.rb
Due: remark, rubocop, test

Update logo to blue
  public/favicon.ico
Due: none

Replace path to logo in README with relative
  README.md
Due: remark

Remove Code Climate badge from README
  README.md
Due: remark

Open badge links in new tabs
  README.md
Due: remark

Update version to 5.0.1
  CHANGELOG.md
  lib/flame/version.rb
Due: remark, rubocop, test
