Repository AlexWayfer/flame: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, test

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
    populate_script: bundle update
  container:
    image: ruby
  rubocop_script: bundle exec rubocop

test:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
    populate_script: bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
      image: ruby:2.7
  environment:
  ...

Add `bundle-audit` CI task
  .cirrus.yaml
  flame.gemspec
Due: rubocop, test

Fix new offenses from RuboCop 1.3 for fixtures files
  .rubocop.yml
Due: rubocop

Merge inherited `Include` and `Exclude` in RuboCop config
  .rubocop.yml
Due: rubocop

Improve `Routes#to_s` for root path
  lib/flame/router/routes.rb
  spec/flame/router/routes_spec.rb
Due: rubocop, test

Remove patch-version lock for stable `rubocop`
  flame.gemspec
Due: rubocop, test

Add Ruby 3.0 for CI
  .cirrus.yaml
Due: none

Resolve new RuboCop offense
  lib/flame/router/routes_refine/mounting.rb
Due: rubocop, test

Allow integration with `better_errors` gem
  flame.gemspec
  lib/flame/controller.rb
  spec/integration/custom_spec.rb
  spec/integration/spec_helper.rb
Due: rubocop, test

Improve README a little
  README.md
Due: remark

Update version to 5.0.0.rc6
  CHANGELOG.md
  lib/flame/version.rb
Due: remark, rubocop, test

Update `gem_toys`, use `:unreleased_title` option
  .toys.rb
  flame.gemspec
Due: rubocop, test

Resolve new RuboCop offenses
  spec/flame/dispatcher_spec.rb
  spec/flame/path_spec.rb
Due: rubocop, test

Improve gemspec metadata, reuse GitHub URI
  flame.gemspec
Due: rubocop, test

Avoid Ruby 4 in gem specs
  flame.gemspec
Due: rubocop, test

Add `yard` output to `.gitignore`
  .gitignore
Due: none

Update gem badge to including pre-releases
  README.md
Due: remark

Lock RuboCop version better
  flame.gemspec
Due: rubocop, test

Resolve new RuboCop offenses
  lib/flame/errors/route_arguments_order_error.rb
  lib/flame/errors/route_extra_arguments_error.rb
  spec/flame/application_spec.rb
  spec/flame/dispatcher/static_spec.rb
  spec/flame/validators_spec.rb
Due: rubocop, test

Fix small RuboCop offense
  spec/flame/router/routes_spec.rb
Due: rubocop, test

Resolve new RuboCop offense
  lib/flame/router/routes.rb
Due: rubocop, test

Rename `master` git branch to `main`
  .cirrus.yaml
  README.md
Due: remark

Enable `rubygems_mfa_required`
  flame.gemspec
Due: rubocop, test

Exclude ignored by git files for RuboCop
  .rubocop.yml
Due: rubocop

Remove weird specs
  spec/flame/dispatcher/request_spec.rb
Due: rubocop, test

Drop Ruby 2.5 support
  .cirrus.yaml
  .rubocop.yml
  flame.gemspec
Due: rubocop, test

Complete `TODO` after Ruby < 2.5 dropping
  lib/flame/dispatcher/request.rb
Due: rubocop, test

Resolve new RuboCop offenses
  lib/flame/path.rb
  lib/flame/router/routes.rb
  spec/flame/application_spec.rb
Due: rubocop, test

Add Ruby 3.1 for CI
  .cirrus.yaml
Due: none

Resolve RuboCop offense
  lib/flame/config.rb
  spec/flame/application_spec.rb
Due: rubocop, test

Resolve new RuboCop offenses
  .rubocop.yml
  lib/flame/dispatcher.rb
  lib/flame/errors/route_not_found_error.rb
  spec/flame/application_spec.rb
Due: rubocop, test

Fix error with a new version of Psych in Ruby 3.1
  flame.gemspec
  lib/flame/config.rb
  spec/flame/config/example3.yml
  spec/flame/config_spec.rb
Due: rubocop, test

Path conditions:
  remark: any of: .cirrus.yml, package.json, .remarkrc.yaml, **/*.md
  rubocop: any of: .cirrus.yml, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **/*.rb, **/*.ru
  test: any of: .cirrus.yml, Gemfile, Rakefile, .rspec, *.gemspec, lib/**/*, spec/**/*
