Repository AlexWayfer/flame: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, test

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

bundle-audit:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  bundle-audit_script: bundle audit check --update

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  rubocop_script: bundle exec rubocop

test:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
      image: ruby:3.0
  environment:
    LANG: C.UTF-8
  ...

Update version to 5.0.0.rc7
  CHANGELOG.md
  lib/flame/version.rb
Due: remark, rubocop, test

Fix typo in `gin` link
  README.md
Due: remark

Enable RSpec `--only-fail` feature
  .gitignore
  spec/spec_helper.rb
Due: remark, bundle-audit, rubocop, test

Lock `rubocop-rspec` version stricter, resolve new offenses
  flame.gemspec
  spec/flame/application_spec.rb
  spec/flame/config_spec.rb
  spec/flame/dispatcher/request_spec.rb
  spec/flame/dispatcher/response_spec.rb
  spec/flame/path_spec.rb
  spec/flame/router/routes_spec.rb
  spec/flame/version_spec.rb
Due: bundle-audit, rubocop, test

Replace `codecov` Ruby uploader with shell one
  .cirrus.yaml
  flame.gemspec
  spec/spec_helper.rb
Due: remark, bundle-audit, rubocop, test

Remove dependencies of CI tasks because of different `only_if`
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Resolve errors and warnings for Rack 3.0
  spec/flame/controller/cookies_spec.rb
  spec/integration/custom_spec.rb
Due: rubocop, test

Allow `gorilla_patch` version 5
  flame.gemspec
Due: bundle-audit, rubocop, test

Suppress Bundle warnings in CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Update version to 5.0.0.rc8
  CHANGELOG.md
  lib/flame/version.rb
Due: remark, rubocop, test

Fix specs after "potential breaking" Rack's patch update
  spec/flame/application_spec.rb
Due: rubocop, test

Update Tilt to 2.1 and resolve tests coverage problem
  flame.gemspec
  lib/flame/render.rb
Due: bundle-audit, rubocop, test

Update RuboCop
  flame.gemspec
Due: bundle-audit, rubocop, test

Update version to 5.0.0.rc9
  lib/flame/version.rb
Due: rubocop, test

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  CHANGELOG.md
  flame.gemspec
Due: remark, bundle-audit, rubocop, test

Move development dependencies from gemspec into Gemfile
  Gemfile
  flame.gemspec
Due: bundle-audit, rubocop, test

Resolve new RuboCop offense
  lib/flame/path.rb
Due: rubocop, test

Fix new RuboCop RSpec error
  .rubocop.yml
  spec/integration/crud_test_project_spec.rb
  spec/integration/custom_test_project_spec.rb
  spec/integration/index_test_project_spec.rb
Due: rubocop, test

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  flame.gemspec
Due: remark, bundle-audit, rubocop, test

Resolve new RuboCop offenses
  lib/flame/router/routes.rb
  spec/spec_helper.rb
Due: rubocop, test

Resolve new RuboCop offenses
  lib/flame/errors/config_file_not_found_error.rb
  lib/flame/errors/route_extra_arguments_error.rb
  lib/flame/errors/template_not_found_error.rb
Due: rubocop, test

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Add empty lines for Cirrus CI config
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Make Remark lint failing on warnings
  package.json
Due: remark

Configure `remark-lint-list-item-indent` after `remark-preset-lint-recommended` update
  .remarkrc.yaml
Due: remark

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, test

Lock Ruby version more strict
  flame.gemspec
Due: bundle-audit, rubocop, test

Change `Backtrace::Location#label` to `#base_label`
  lib/flame/controller.rb
Due: rubocop, test

Fix errors specs for Ruby 3.4
  spec/flame/application_spec.rb
Due: rubocop, test

Path conditions:
  remark: (any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md) or (any of: .cirrus.yml, package.json, .remarkrc.yaml, **/*.md)
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: (any of: .cirrus.yaml, .gitignore, Gemfile, .toys.rb, .rubocop.yml, *.gemspec, **.rb, **.ru) or (any of: .cirrus.yml, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **/*.rb, **/*.ru)
  test: (any of: .cirrus.yaml, .gitignore, Gemfile, .toys.rb, .rspec, *.gemspec, lib/**, spec/**) or (any of: .cirrus.yml, Gemfile, Rakefile, .rspec, *.gemspec, lib/**/*, spec/**/*)
