Repository AlexWayfer/flame: changes, and which Cirrus tasks are due for each by the changed paths.
All: test, rubocop

test:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
    populate_script: bundle update
  depends_on:
  - markdownlint
  - rubocop
  container:
    matrix:
      image: ruby:2.7
  environment:
  ...

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
    populate_script: bundle update
  container:
    image: ruby
  rubocop_script: bundle exec rubocop

Add `remark` lint (for Markdown) CI task
  .cirrus.yml
  .gitignore
  .remarkrc.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  package.json
Due: test, rubocop

Enable new cops from RuboCop 0.82, fix changed
  .rubocop.yml
Due: rubocop

Fix endpoints with optional arguments in the middle of path
  .rubocop.yml
  lib/flame/router.rb
  lib/flame/router/routes.rb
  spec/flame/router/routes_spec.rb
  spec/flame/router_spec.rb
  spec/integration/custom_spec.rb
Due: test, rubocop

Update code for new RuboCop, enable new cops
  .rubocop.yml
  flame.gemspec
  spec/flame/application_spec.rb
  spec/flame/version_spec.rb
Due: test, rubocop

Add renovate.json
  renovate.json
Due: none

Relax `gorilla_patch` version lock
  .cirrus.yml
  flame.gemspec
  lib/flame/router.rb
  lib/flame/router/routes_refine/mounting.rb
Due: test, rubocop

Enable new cops from RuboCop 0.84 and 0.85, fix changed
  .editorconfig
  .rubocop.yml
  lib/flame/config.rb
  lib/flame/render.rb
  lib/flame/router/routes_refine.rb
Due: test, rubocop

Enable new cops from RuboCop 0.86, fix changed
  .rubocop.yml
  lib/flame/path.rb
Due: test, rubocop

Improve Cirrus CI config
  .cirrus.yml
Due: test, rubocop

Enable all new RuboCop cops
  .rubocop.yml
  lib/flame/router/routes_refine/mounting.rb
  spec/spec_helper.rb
Due: test, rubocop

Fix new offenses from RuboCop 0.88
  spec/flame/application_spec.rb
  spec/flame/controller_spec.rb
  spec/flame/dispatcher_spec.rb
  spec/flame/render_spec.rb
Due: test, rubocop

Update to a new gem template
  .cirrus.yml
  .gitignore
  .rspec
  .rubocop.yml
  .toys.rb
  LICENSE.txt
  README.md
  Rakefile
  flame.gemspec
  spec/integration/crud_spec.rb
  spec/integration/custom_spec.rb
  spec/integration/index_spec.rb
Due: test, rubocop

Fix typos in specs descriptions
  spec/flame/application_spec.rb
  spec/flame/controller_spec.rb
Due: test, rubocop

Disable `RSpec/MultipleMemoizedHelpers` RuboCop's cop
  .rubocop.yml
  flame.gemspec
Due: rubocop

Add `:log_dir` for default config
  lib/flame/config.rb
Due: test, rubocop

Add `:require` option for `Config#load_yaml`
  lib/flame/config.rb
  spec/flame/config_spec.rb
Due: test, rubocop

Drop `rspec` and `rubocop` toys, just use `bundle exec`
  .toys.rb
Due: rubocop

Update bundle, resolve new RuboCop offenses and Ruby warnings
  .cirrus.yml
  README.md
  example/app.rb
  example/config.ru
  example/controllers/home_controller.rb
  example/controllers/users_controller.rb
  example/public/static.txt
  example/public/styles/example.css
  example/views/500.erb
  example/views/hello.erb
  example/views/home/index.html.erb
  example/views/home/welcome.erb
  example/views/index.erb
  example/views/layout.html.erb
  example/views/users/create.erb
  example/views/users/delete.erb
  example/views/users/index.html.erb
  example/views/users/layout.erb
  example/views/users/show.html.erb
  example/views/users/update.erb
  flame.gemspec
  lib/flame/application.rb
  lib/flame/config.rb
  lib/flame/dispatcher/routes.rb
  lib/flame/errors/config_file_not_found_error.rb
  lib/flame/render.rb
  lib/flame/router/routes.rb
  spec/flame/config_spec.rb
  spec/flame/errors/spec_helper.rb
  spec/flame/require_dirs/lib/some_lib/spec/some_lib_spec.rb
  spec/flame/require_dirs/lib/some_lib/spec/spec_helper.rb
  spec/integration/spec_helper.rb
  spec/spec_helper.rb
Due: test, rubocop

Fix small typos in documentation
  README.md
  lib/flame/application.rb
Due: test, rubocop

Accept options for cookies setting
  lib/flame/controller/cookies.rb
  spec/flame/controller/cookies_spec.rb
Due: test, rubocop

Add `remark-gfm` for a new `remark` version
  .remarkrc.yaml
  package.json
Due: none

Fix a new RuboCop offense
  spec/flame/controller/cookies_spec.rb
Due: test, rubocop

Update `rubocop-rspec` to compatible with RuboCop 1.0 version
  flame.gemspec
Due: rubocop

Resolve new RuboCop offenses
  spec/flame/application_spec.rb
  spec/flame/config_spec.rb
Due: test, rubocop

Rename `.cirrus.yml` to `.yaml`
  .cirrus.yaml
Due: none

Path conditions:
  test: any of: .cirrus.yml, Gemfile, Rakefile, .rspec, lib/**/*, spec/**/*
  rubocop: any of: .cirrus.yml, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **/*.rb, **/*.ru
